@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: gold;
    letter-spacing: 0.75rem;
}

.app {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 7rem 85vh;
    grid-template-areas: 
        "a a"
        "b c";
}

.navbar {
    grid-area: a;
    background: linear-gradient(89deg, #ff5edf, #04cdde);
    border-bottom: 5px solid black;
}

.navbar h1 {
    text-align: center;
    margin-top: 0;
}

.nav-btn {
    text-align: right;
    margin: 1rem 2rem 0 auto;
    cursor: pointer;
    text-decoration: none;
}

.nav-btn .btn {
    padding: 0.25rem;
    margin-bottom: 0;
    color: black;
    background: aqua;
    border-radius: 0.25rem;
}

.signin .heading{
    text-align: center ;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 15vh;
}

.signin .heading h1 {
    font-size: 4rem;
    color: gold;
    letter-spacing: 1rem;
}

.signin .heading h3 {
    font-size: 1.25rem;
}

.signin .heading h5 {
    color: red;
    font-weight: 600;
    letter-spacing: 0.125rem;
}

.signinwithgoogle {
    cursor: pointer;
    margin-top: 3rem;
    /* text-align: center; */
    /* place-self: center; */
}

.signinwithgoogle:hover {
    transition: var(--transition);
}